// @use "../../styles/various.module.scss" as var;

@media screen and (min-width: 1024px) {
    .back{
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        gap: 45px;
        padding-bottom: 50px;
        padding-top: 50px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        background-color: rgb(255, 255, 255);
        div{
            z-index: 1;
        }
    }
    
    .line{
        width: 77vw;
    height: 0px;
    border: 2px solid #A7ABB4;
    }

    .small_info{
        font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #767575;
    }
    
    .info{
        width: 1000px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .part1{
        display: flex;
        flex-direction: column;
        gap: 45px;
    }
    
    .icons{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
    
    .vector1{
        position: absolute;
        bottom: -200px;
            top: auto;
        left: -400px;
        z-index: 1;
    }
    
    .vector3{
        position: absolute;
        top: auto;
        bottom: -600px;
        right: -400px;
        z-index: 1;
    }
    @media screen and (min-width: 1440px) {
        .line{
            width: 1122px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .back{
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        gap: 45px;
        padding-bottom: 50px;
        padding-top: 50px;
        overflow: hidden;
        position: relative;
        div{
            z-index: 2;
        }
    }
    
    .line{
        width: 77vw;
    height: 0px;
    border: 2px solid #A7ABB4;
    }

    .small_info{
        font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #767575;
    }
    
    .info{
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .part1{
        display: flex;
        flex-direction: column;
        gap: 45px;
        img{
            width: 54px;
            height: 54px;
        }
    }
    
    .icons{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        img{
            width: 16px;
            height: 16px;
        }
    }
    
    .vector1{
        position: absolute;
        bottom: -200px;
            top: auto;
        left: -400px;
        z-index: 1;
    }
    
    .vector3{
        position: absolute;
        top: auto;
        bottom: -600px;
        right: -400px;
        z-index: 1;
    }
}

@media screen and (max-width: 768px) {
    .back{
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        gap: 15px;
        padding-bottom: 25px;
        padding-top: 25px;
        // overflow: hidden;
        position: relative;
        z-index: 1;
        div{
            z-index: 2;
        }
    }
    
    .line{
        width: 77vw;
    height: 0px;
    border: 1px solid #A7ABB4;
    }

    .small_info{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
        color: #767575;
    }
    
    .info{
        display: none;
    }
    .second{
        display: none;
    }
    .part1{
        display: none;
    }
    
    .icons{
        display: none;
    }
    
    .vector1{
        position: absolute;
        bottom: -200px;
            top: auto;
        left: -400px;
        z-index: 1;
    }
    
    .vector3{
        position: absolute;
        top: auto;
        bottom: -600px;
        right: -400px;
        z-index: 1;
    }
}
