@use "../../styles/various.module.scss" as var;

.back{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    gap: 45px;
    padding-bottom: 50px;
    padding-top: 50px;
    overflow: hidden;
    position: relative;
    div{
        z-index: 2;
    }
}

.line{
    width: 1152px;
height: 0px;
border: 2px solid #A7ABB4;
}

.small_info{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #767575;
}

.info{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.part1{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.vector1{
    position: absolute;
    bottom: -200px;
        top: auto;
    left: -400px;
    z-index: 1;
}

.vector3{
    position: absolute;
    top: auto;
    bottom: -600px;
    right: -400px;
    z-index: 1;
}