@media screen and (min-width: 1024px) {
  .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 200px;
    gap: 100px;
  }

  .inline_part {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
  }
  .info_part {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .log_part {
    display: flex;
    flex-direction: row;
    gap: 0px;
    height: 139px;
    gap: 5px;
  }

  .child_log_part {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .addborders {
    border: 1px solid #a7abb4;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .select_brand_part {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .row_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    gap: 10px;
    align-items: center;
    button {
      margin-top: 20px;
    }
  }

  .input_part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .social_box {
    width: 80vw;
    background-color: white;
    border: 1px solid #a7abb4;
    border-radius: 15px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    padding: 100px;
  }
  .back2{
    display: flex;
    flex-direction: row;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
  }
  .social_part {
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      border-radius: 50%;
    }
  }
  .select {
    border: 5px solid #99ceff;
    padding: 1%;
    border-radius: 50%;
  }

  .download_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 670px;
  }

  .review_part {
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 218px;
  }
  //new
  .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
  }
  .filters {
    display: flex;
    flex-direction: row;
    div {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0px 15px;
    }
  }
  .active {
    border-bottom: 2px solid #767575;
  }
  @media screen and (min-width: 1440px) {
    .inline_part {
      width: 1122px;
    }
    .box {
      width: 1122px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 150px;
    gap: 80px;
  }
  .info_part {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .inline_part {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  .back2{
    display: flex;
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }
  .log_part {
    display: flex;
    flex-direction: row;
    gap: 0px;
    height: 139px;
    gap: 5px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .child_log_part {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .addborders {
    border: 1px solid #a7abb4;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .select_brand_part {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .select {
    border: 5px solid #99ceff;
    padding: 1%;
    border-radius: 50%;
  }

  .row_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    // gap: 10px;
    // height: 100px;
    align-items: center;
    button {
      // margin-top: 5%;
    }
  }

  .input_part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    input {
      width: 30vw;
    }
  }

  .social_box {
    width: 80vw;
    background-color: white;
    border: 1px solid #a7abb4;
    border-radius: 10px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    padding: 80px;
  }

  .social_part {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .download_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 50vw;
  }

  .review_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
  }

    //new
    .box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 90vw;
    }
    .filters {
      display: flex;
      flex-direction: row;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
  
        padding: 0px 15px;
      }
    }
    .active {
      border-bottom: 2px solid #767575;
    }
}

@media screen and (max-width: 768px) {
  .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 120px;
    gap: 60px;
  }

  .inline_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
  }
  .info_part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .back2{
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }

  .log_part {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    height: 139px;
    gap: 5px;
    img {
      width: 65px;
      height: 65px;
      border-radius: 50%;
    }
  }

  .child_log_part {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
  }

  .addborders {
    border: 1px solid #a7abb4;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .select_brand_part {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 90vw;
  }

  .select {
    border: 3px solid #99ceff;
    padding: 1%;
    border-radius: 50%;
  }

  .row_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    gap: 10px;
    align-items: center;
    button {
      margin-top: 20px;
    }
  }

  .input_part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30vw;
    align-items: center;
    input {
      width: 30vw;
    }
  }

  .social_box {
    width: 80vw;
    background-color: white;
    border: 1px solid #a7abb4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    img {
      width: 33px;
      height: 33px;
    }
  }

  .social_part {
    width: 40vw;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    img {
      width: 25px;
      height: 25px;
    }
  }

  .download_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    // gap: 30px;
    justify-content: space-between;
    width: 75vw;
  }

  .review_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    // gap: 10px;
    img {
      width: 20px;
      height: 20px;
    }
  }
      //new
      .box {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        gap: 20px;
      }
      .filters {
        display: flex;
        flex-direction: row;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
    
          padding: 0px 15px;
        }
      }
      .active {
        border-bottom: 2px solid #767575;
      }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
.modal_div {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 15px 0;
  gap: 5px;
}