.back{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 50px;
    padding-top: 150px;
}

.parts{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1137px;
    justify-content: space-between;
}

.part1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text{
    width: 554px;
    text-align: start;
}

.part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}