@media screen and (min-width: 1024px) {
  .back {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
  }

  .part1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 80vw;
  }

  .text {
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
  }
  @media screen and (min-width: 1440px) {
    .back {
      width: 1122px;
    }
    .part1 {
      width: 1122px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .back {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
  }

  .part1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 80vw;
  }

  .text {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
}

@media screen and (max-width: 768px) {
  .back {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
  }

  .part1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 80vw;
  }

  .text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}
