@use "../../styles/various.module.scss" as var;

.back{
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  position: absolute;
  z-index: 20000;
}

.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}